
<div class="container">
    <h1>Stock List</h1>
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control" [(ngModel)]="userInput" placeholder="Enter your text">
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary float-right" (click)="getDaataAsUserInserted()">Refresh Data</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Exchange Symbol</th>
        <th>Today's High Price</th>
        <th>Todays's Low price</th>
        <!-- Add more table headers based on your API data -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockList">
        <td>{{ stock?.T }}</td>
        <td>{{ stock?.h }}</td>
        <td>{{ stock?.l }}</td>
        <!-- Add more table columns based on your API data -->
      </tr>
    </tbody>
  </table>
</div>
